body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg{
  height: 100vh;
  width: 100vw;
  margin:0;
  padding: 0;
  overflow-x: hidden;
  background-size: cover;
}

.myButton {
	background:linear-gradient(to bottom, #b1f2c2 5%, #5cbf2a 100%);
	background-color:#b1f2c2;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
  margin-left: 1em;
  font-weight: bold;
}

.myButton:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #b1f2c2 100%);
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-left: 1em;
  margin-right: 1em;
}